doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Sistema de Video
        ul.nav.navbar-nav
          li.active
            a.item(href='/emitir.html') Emitir
          li.active
            a.item(href='/visualizar.html') Visualizar
    .container
      block content
    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')