<nav class="navbar navbar-findcond navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button><a href="/"><img src="/images/logovidex_green.png" class="logo img-responsive"></a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="#" ng-click='navvm.popupLoginForm()'>Login</a></li>
         <li><a href="#" ng-click='navvm.popupRegisterForm()'>Register</a></li>
         <li><a href="#" ng-click='navvm.emitirStreaming()'>Emitir</a></li>
         <li class="dropdown user"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Admin<span class="caret"></span></a>
           <ul role="menu" class="dropdown-menu">
             <li><a href="#">Settings</a></li>
             <li class="divider"></li>
             <li><a href="#exit">Logout</a></li>
           </ul>
         </li>
       </ul>
       <form role="search" class="navbar-form navbar-right search-form">
         <input type="text" placeholder="Search" class="form-control" ng-model="textFilter">
       </form>
     </div>
   </div>
</nav>